<html>

    <head>
        <style>
            .expired {
                display: none;
            }
        </style>
    </head>

    <body>
        <div>
            App version: v<%= version %>
        </div>

        <div>
            <table>
                <% for(var i = 0; i < entries.length; i++) { %>
                    <% var entry = entries[i]; %>
                    <tr class="<%= entry.status === 0 ? 'expired' : 'active' %>">
                        <td>
                            <a href="<%= entry.url %>">
                                <%= entry.title %> by <%= entry.by %> <% if(entry.status === 0) { %> [EXPIRED] <% } %>
                            </a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </body>

</html>
